.container{
    display: flex;
    height: 100%;
}

.home-div {
    box-sizing: border-box; /* Include padding and border in the element's total width */
    padding: 10px;
  }

.size{
  flex: 1;
}

.sizee{
  flex: 2;
}

.vertical-line {
  border-left: 2px solid black;
  height: 300px; /* Adjust the height as needed */
  margin: 20px; /* Optional, for spacing */
}

.text-button {
    background: none;
    border: none;
    color: inherit;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  .text-button:hover {
    color: #333; /* Adjust hover color as needed */
  }
  
  .text-button.active {
    font-size: 1.4rem;
    color: #000; /* Dark black color */
  }

  .left {
    overflow: hidden; 
  }
  
  .right {
    overflow-y: auto; 
    height: 100%;
  }
  