.container{
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
}



/* .home-left {
    box-sizing: border-box; 
    margin: 20px 0;
  }

.home-right{
  box-sizing: border-box; 
    margin: 10px 0;
    padding-left: 5%;
 }


.size-left{
  flex: 1;
}

.size-right{
  flex: 2;
} */

.vertical-line {
  border-left: 2px solid black;
  height: 500px;
  margin: 0px; 
}

@media only screen and (max-width: 600px) {
  .container {
      flex-direction: row; /* Switch to horizontal layout on screens wider than 600px */
  }

  .vertical-line {
    width: 100%; /* Make the line span the width of the container */
    height: auto; /* Reset height to auto, making it horizontal */
    margin: 20px 0; /* Adjust vertical margin */
  }

  .my-name{
    font-size: 50px;
  }


}


