/* body {
  font-family: 'Sevillana', sans-serif;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-navbar {
  background-color: white !important; /* Set background color to white */
  color: black !important; /* Set text color to black */
}

/* .home{
  background-color: #e7eaf6;
} */

.social{
  width: 100%; /* Full width of the screen */
  height: 100px; /* Height of 50px */
}

.home{
  width : 100%;
  height : 500px;
  padding-left: 5%;
}

